@model IEnumerable<ContosoUniversity.Models.Course>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h2>Course <small>Data Course</small></h2>
</div>


@using (Html.BeginForm("Index", "Course", FormMethod.Get))
{
    <p>
        <small>Find by Title or Credits:</small> @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input class="btn btn-info btn-sm" type="submit" value="Search" /> |
        <a>@Html.ActionLink("Back to Full List", "Index", "Course")</a>
    </p>
}

<h4>
    <span class="label label-info">@Html.ActionLink("Create New", "Create")</span>
</h4>
       
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr class="info">
            <th>
                @Html.ActionLink("CourseID", "Index", new { sortOrder = ViewBag.IDSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Credits", "Index", new { sortOrder = ViewBag.CreditsSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th class="text-center">
                Action
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td class="text-center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
                </td>
            </tr>
        }

    </table>
</div>