@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>
@using (Html.BeginForm("About", "Home", FormMethod.Get))
{
    <p>
        Find by Student or Y-M-d : @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" /> |
        <a>@Html.ActionLink("Back to Full List", "About", "Home")</a>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Enrollment Date", "About", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Students", "About", new { sortOrder = ViewBag.IntSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>